<!DOCTYPE html>
<html>
<head>
<title>Abrir Chamado</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h2>Abrir Chamado</h2>

<form method="POST" action="/abrir_chamado">

<input name="titulo" placeholder="Título" required>
<textarea name="descricao" placeholder="Descrição" required></textarea>

<select name="setor" required>
<option value="">Selecione o setor</option>
{% for d in departamentos %}
<option value="{{ d }}">{{ d }}</option>
{% endfor %}
</select>

<button>Abrir Chamado</button>

</form>

</div>

</body>
</html>