<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#111827;
    margin:0;
}

.box{
    background:white;
    padding:25px;
    border-radius:10px;
    width:90%;
    max-width:320px;
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    width:100%;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
}
</style>
</head>

<body>

<div class="box">
<h2>Login</h2>

<form method="POST" action="/login">
    <input name="username" placeholder="Usuário" required>
    <input name="senha" type="password" placeholder="Senha" required>
    <button type="submit">Entrar</button>
</form>

</div>

</body>
</html>